body {
    background-color: rgb(31, 31, 31);
}

.container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr auto;
    grid-row-gap: 20px;
    background-color: aliceblue;
    margin: 0 auto;
    background-image: url('../images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
}

.header {
    padding: 20px 0;
    background-color: #f0f5f7;
    width: 95%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-size: 0.8rem;
    color: rgb(30, 30, 65);
}
.header >.get {
    border-radius: 2rem;
    border-style: none;
    padding: 0.5rem 1rem 1.4rem 1rem;
    display: inline-block;
    background-color: #f3613c;
    font-size: 0.7rem;
    color: white;
    width: 10%;
    box-shadow: 50px #f0f5f7;
}
.header >.get:hover{
    background-color: #f3613c;
    opacity: .6;
}
.allnav:hover {
    opacity: .5;
}

.insideheader {
    grid-column: 1/-1;
    grid-row: 1/2;
    height: 3vh;
}

/* SECTION ONE CSS */
.section--1 {
    grid-column: 1/-1;
    grid-row: 2/3;
    height: 40vh;
    width: 97%;
    margin: 0 auto;
}
.sectionone {
    padding: 20px 0;
    background-color: #f0f5f7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 300px;
}

.sectionone--1 {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-left: 40px;
}
.sectionone--1> h2{
    color:  rgb(10, 10, 61);
}

.sectionone--2 {
    grid-column: 3/5;
    grid-row: 1/4;
    background-image: url('../capacitybay_final_css_project/images/img1.JPG');
    background-repeat: no-repeat;
}

.sectionone--3 {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-left: 40px;
}
.sectionone--4 {
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: rgb(224, 210, 230);
}

.start2 {
    width: 40%;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
    box-sizing: border-box;
    border-radius: 16px;
    font-size: 15px;
    color: whitesmoke;
    margin-right: 150px;
    background-color: #f3613c;
    margin-left: 30px;
}
.start2:hover{
    opacity: .6;
}



/* SECTION TWO CSS */
/* .section--2 .heading{

    color: black;



}
.downleft{
    width: 40%;


}
.downleft .text{
    color:grey;
    text-align: justify;
    max-width: 250px;
} */
.section--2 .heading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(10, 10, 61);
    max-width: 300px;
    font-size: 150%;
    
}

.downleft .text{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.downleft{
    text-align: justify;
    margin-top: -5px;

    margin-left: 50px;
    max-width: 300px;
}

.section--2 {
    background-color: rgb(209, 126, 30);
    grid-column: 1/-1;
    grid-row: 3/4;
    height: 60vh;
}


.section--2 .container {
    font-family: roboto;
    height: 60vh;
    width: 100%;
    display: flex;
}

.section--2 .container .section2 {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section2 .down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 40%;
    height: 100%;
}

.down .top,
.center,
.bottom2 {
    height: 24vh;
    display: grid;
    gap: 10px;
    grid-template-columns: 0.2fr 1fr;
}


.down .num {
    margin-top: 15px;
    background-color: rgb(252, 59, 0);
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    width: 80%;
    border-radius: 30px;
}

.down .text {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.text h4 {
    display: flex;
    align-items: center;
    /* background-color: red; */
    height: 5vh;
}

.text p {
    margin-top: -10px;
    color: gray;
    height: 18vh;
}



/* .heading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(10, 10, 61);
    max-width: 250px;
}

.text{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
     max-width: 250px;
     font-size: smaller;

}
.down{
    text-align: justify;
    margin-top: 200px;
    margin-left: 100px;
} */



/* SECTION THREE CSS */
.section3 {
        background-color:white;
        grid-column: 1/-1;
        grid-row: 4/5;
        width: 100%;
    }


    /* i styled the first header section */
#up{
    text-align: center;
}


/* i styled the body carrying the quote by the web users */
.body{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.body1 {
    width: 32%;
    height: 200px;
}

.body2{
    width: 32%;
    height: 200px; 
}

.body3{
    width: 32%;
    height: 200px;   
}
/* i styled the images  */
.image1{

    width: 40px;
    margin-left: 180px;
    margin-top: 20px; 
}

.image2{
    width: 40px;
    margin-left: 175px;
    margin-top: 20px; 
}

.image3{
    width: 40px;
    margin-left: 170px;
    margin-top: 20px; 
}

/* i styled the qoute by the web users  */
.vin1,.vin2, .vin3{
    width: 100%;
    height: 130px;
    padding-top: 2px;
    background-color: rgb(239, 239, 243);
    text-align: center;
    border-radius: 3px;

}

.pp{
    color: rgb(161, 156, 156);
}


/* styled the button */
.button{
    width: 90px;
    height: 25px;
    color:white;
    background-color: #f3613c;
    border-radius: 10px;
    margin-top: 20px;
    border-style: none;
    margin-left: 600px;
    text-shadow: #f3613c;
}
/* i made hover using this styling  */

.button:hover{
    opacity: 0.7;
}
    

/* SECTION FOUR CSS */
.section4 {
    
}
/* SECTION FIVE FOOTER CSS */
footer {
   
}

